html,body{
    min-height:100vh;
    min-width:100vh;
}
#header{
    height: 50px;
    width:100%;
    background-color: blue;
    position:fixed;
    top:0%;
    left:0%;
}
nav a{
    color:white;
    padding: 12px;
    text-decoration: none;
    margin-top: 20px;
    position: relative;
    top:12px;
}
nav{
    float:right;
    height: 50px;
    display:inline !important;
}
#description ,#main_img{
    float:left;
    clear:none;
    padding: 20px;
}
#main_screen{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card{
    margin: 50px;
    background-color: #f7f7f7;
    width: 200px;
    height:400px;
    text-align: center;
    display:inline-block;
}
.profile_pic{
    border-radius: 100%;
    position:relative;
    margin-top: 50px;
}
#card_container{
    position:absolute;
    width:100%;
    top:10%;
}
.text{
    color:red;
}
#alin .text{
    font-style:italic;
}
#jon .text{
    font-weight:bold;
}
#servicii{
    position:absolute;
    width:100%;
    top:10%;
}
table, td, th{
    border:1px solid red;
    border-collapse:collapse;
    padding: 3px;
}